h2{ 
  color: green; 
}

.purple_text{ 
  color: purple; 
  font-size: xx-large;
}
#js-header{
  color: orange;
  font-size: xx-large;
}
p{
  color: indigo;
  font-size: x-large;
}

h3.header-style{
  color: yellowgreen;
  font-size: x-large;
}

h5#tst{
  color: steelblue;
  font-size: large;
}
